@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap&subset=latin-ext");
@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;

  p {
    margin: 1rem;
  }

  li {
    margin: 0 1rem;
  }

  ul {
    margin: 1rem;
    margin-left: 2rem;
  }

  h1,
  h2,
  h3 {
    margin: 1rem;
    font-weight: normal;
  }

  pre {
    margin: 1rem;
    padding: 1rem;
    background-color: #444 !important;
  }

  .container {
    min-height: 100vh;
  }

  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;
  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;
    }
  }
}
