@import url("https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.css");

@font-face {
  font-family: Montserrat-Bold;
  src: url("../fonts/Montserrat-Bold.otf");
}

@font-face {
  font-family: Montserrat;
  src: url("../fonts/Montserrat-Light.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;

  p {
    margin: 1rem 0;
  }

  li {
    margin: 0 1rem;
  }

  ul {
    margin: 1rem;
    margin-left: 2rem;
  }

  h1,
  h2,
  h3 {
    margin: 1rem 0;
    font-weight: normal;
  }

  pre {
    margin: 1rem 0;
    padding: 1rem;
    background-color: #333 !important;
  }

  .container {
    overflow-x: hidden;
  }

  .markdown-body {
    box-sizing: border-box;
    min-width: 200px;
    max-width: 980px;
    margin: 0 auto;
    padding: 45px;

    .md_icons_wrapper {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: 1rem 0;

      .md_icon {
        height: 64px;
        padding: 5px 10px;
      }
    }


  }

  @media (max-width: 767px) {
    .markdown-body {
      padding: 15px;

      .md_icons_wrapper {
        .md_icon {
          height: 40px;
          padding: 5px 10px;
        }
      }
    }
  }
}
